{% load admin_static %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" />
{% block extrastyle %}{% endblock %}
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="{% block stylesheet_ie %}{% static "admin/css/ie.css" %}{% endblock %}" /><![endif]-->
{% if LANGUAGE_BIDI %}<link rel="stylesheet" type="text/css" href="{% block stylesheet_rtl %}{% static "admin/css/rtl.css" %}{% endblock %}" />{% endif %}
<script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
<script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
{% block extrahead %}{% endblock %}
{% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
</head>
{% load i18n %}


<style>
  #header { overflow: visible; }
  #branding h1 { display: inline-block; }
  #branding h1 > a { color: inherit !important; }
  #branding > ul { display: inline; list-style: none; padding: 0; margin: 0; }
  #branding > ul > li { display: inline-block; padding: 8px; margin: 0; }

  #branding li { position: relative; }
  #branding li ul {
    display: none;
    position: absolute;
    z-index: 99999;
    top: 25px;
    left: 7px;
    background: #417690;
    border: 1px solid #fff;
    list-style: none;
    padding: 10px;
    margin: 0;
    min-width: 100px;
    min-height: 100px; }
  #branding li:hover ul { display: block; }
  #branding li strong { display: block; padding: 4px 5px; }
  #branding li li a { display: block; padding: 4px 5px; font-size: 12px; }
</style>

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<!-- Container -->
<div id="container">

    {% if not is_popup %}
    <!-- Header -->
    <div id="header">
        <div id="branding">
          <h1>
            <a href="{% url 'admin:index' %}">
                {% trans 'Dashboard' %}
            </a>
          </h1>
          {% if user.is_active and user.is_staff %}
            <ul>
              <li>
                <a href="#">{% trans 'Create' %}</a>
                <ul>
                  <li><a href="{% url 'admin:blog_post_add' %}">{% trans 'Post' %}</a></li>
                  <li><a href="{% url 'admin:chet_album_add' %}">{% trans 'Album' %}</a></li>
                </ul>
              </li>
              <li>
                <a href="#">{% trans 'Modules' %}</a>
                <ul>
                  <li><strong>Auth</strong></li>
                  <li><a href="{% url 'admin:auth_user_changelist' %}">Users</a></li>
                  <li><a href="{% url 'admin:auth_group_changelist' %}">Groups</a></li>
                  <li><strong>Blog</strong></li>
                  <li><a href="{% url 'admin:blog_post_changelist' %}">Posts</a></li>
                  <li><a href="{% url 'admin:blog_category_changelist' %}">Categories</a></li>
                  <li><strong>Chet</strong></li>
                  <li><a href="{% url 'admin:chet_album_changelist' %}">Albums</a></li>
                  <li><a href="{% url 'admin:chet_photo_changelist' %}">Photos</a></li>
                </ul>
              </li>
            </ul>
          {% endif %}
        </div>
        {% if user.is_active and user.is_staff %}
        <div id="user-tools">
            {% block welcome-msg %}
                {% trans 'Welcome,' %}
                {% if perms.user.change %}
                  <a href="{% url 'admin:auth_user_change' user.pk %}">
                    <strong>{% firstof user.get_short_name user.get_username %}</strong></a>.
                {% else %}
                  <strong>{% firstof user.get_short_name user.get_username %}</strong>.
                {% endif %}
            {% endblock %}
            {% block userlinks %}
                {% url 'django-admindocs-docroot' as docsroot %}
                {% if docsroot %}
                    <a href="{{ docsroot }}">{% trans 'Documentation' %}</a> /
                {% endif %}
                {% if user.has_usable_password %}
                <a href="{% url 'admin:password_change' %}">{% trans 'Change password' %}</a> /
                {% endif %}
                <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>
            {% endblock %}
        </div>
        {% endif %}
        {% block nav-global %}{% endblock %}
    </div>
    <!-- END Header -->
    {% block breadcrumbs %}
    <div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    {% if title %} &rsaquo; {{ title }}{% endif %}
    </div>
    {% endblock %}
    {% endif %}

    {% block messages %}
        {% if messages %}
        <ul class="messagelist">{% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|capfirst }}</li>
        {% endfor %}</ul>
        {% endif %}
    {% endblock messages %}

    <!-- Content -->
    <div id="content" class="{% block coltype %}colM{% endblock %}">
        {% block pretitle %}{% endblock %}
        {% block content_title %}{% if title %}<h1>{{ title }}</h1>{% endif %}{% endblock %}
        {% block content %}
        {% block object-tools %}{% endblock %}
        {{ content }}
        {% endblock %}
        {% block sidebar %}{% endblock %}
        <br class="clear" />
    </div>
    <!-- END Content -->

    {% block footer %}<div id="footer"></div>{% endblock %}
</div>
<!-- END Container -->

</body>
</html>
