*.pyc
*~
.*.swp
\#*#
/secrets.py
.DS_Store
._*
data.db
/MANIFEST
dist
/static
/uploads
/docs/_build
/venv
/reports
.sass-cache
/app/local_settings.py
/app/static/app/stylesheets/
/media
/node_modules
/.env
/tmp
/.tox
out
