beautifulsoup4
Django
django-authlib
django-cabinet
django-cache-url
django-debug-toolbar
django-redis
django-sane-redirects
django-webpack-loader
dj-database-url
flake8
gunicorn
hiredis
Markdown
psycopg2-binary
pytz
raven
speckenv
