beautifulsoup4
dj-database-url
django-authlib
django-cabinet
django-cache-url
django-debug-toolbar
django-redis
django-webpack-loader
Django
flake8
gunicorn
hiredis
Markdown
psycopg2-binary
pytz
raven
speckenv
