{% extends "base.html" %}

{% block title %}{{ post.title }} - {{ super() }}{% endblock %}

{% block content %}
<header>
  <div class="wrappy">
    <a class="back" href="/">Back to the overview</a>
  </div>
</header>

<main><div class="wrappy">
  <div class="text">
    {{ post.html|safe }}
  </div>
</div></main>

<footer>
  <div class="wrappy">

    <p>
      <small>
        I like feedback! <a href="mailto:mk@406.ch?subject={{ post.title }}">Send me an email.</a>
        <br>
        {# Did you like this post? <a href="/writing/feed/">Subscribe to the RSS feed for more!</a> #}
        <a href="https://ko-fi.com/matthiask" target="_blank" rel="noopener noreferrer">☕  Buy me a coffee?</a>
        <br>

        {% if post.date %}
          Published on {{ post.date.isoformat() }}
        {% else %}
          Not published yet
        {% endif %}

        {% for category in post.categories %}
          {% if loop.first %}in{% endif %}
          <a href="{{ category.url }}/">{{ category.title }}</a>{% if not loop.last %}, {% endif %}
        {% endfor %}

      </small>
    </p>

    <script src="https://utteranc.es/client.js"
            repo="matthiask/406-comments"
            issue-term="pathname"
            theme="github-light"
            crossorigin="anonymous"
            async>
    </script>

  </div>

</footer>

{% endblock %}
