/* .tox/build/bin/pygmentize -S borland -f html -a .chl > resources/1_chl.css */
pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
.chl .hll { background-color: #ffffcc }
.chl { background: #ffffff; }
.chl .c { color: #008800; font-style: italic } /* Comment */
.chl .err { color: #a61717; background-color: #e3d2d2 } /* Error */
.chl .k { color: #000080; font-weight: bold } /* Keyword */
.chl .ch { color: #008800; font-style: italic } /* Comment.Hashbang */
.chl .cm { color: #008800; font-style: italic } /* Comment.Multiline */
.chl .cp { color: #008080 } /* Comment.Preproc */
.chl .cpf { color: #008800; font-style: italic } /* Comment.PreprocFile */
.chl .c1 { color: #008800; font-style: italic } /* Comment.Single */
.chl .cs { color: #008800; font-weight: bold } /* Comment.Special */
.chl .gd { color: #000000; background-color: #ffdddd } /* Generic.Deleted */
.chl .ge { font-style: italic } /* Generic.Emph */
.chl .gr { color: #aa0000 } /* Generic.Error */
.chl .gh { color: #999999 } /* Generic.Heading */
.chl .gi { color: #000000; background-color: #ddffdd } /* Generic.Inserted */
.chl .go { color: #888888 } /* Generic.Output */
.chl .gp { color: #555555 } /* Generic.Prompt */
.chl .gs { font-weight: bold } /* Generic.Strong */
.chl .gu { color: #aaaaaa } /* Generic.Subheading */
.chl .gt { color: #aa0000 } /* Generic.Traceback */
.chl .kc { color: #000080; font-weight: bold } /* Keyword.Constant */
.chl .kd { color: #000080; font-weight: bold } /* Keyword.Declaration */
.chl .kn { color: #000080; font-weight: bold } /* Keyword.Namespace */
.chl .kp { color: #000080; font-weight: bold } /* Keyword.Pseudo */
.chl .kr { color: #000080; font-weight: bold } /* Keyword.Reserved */
.chl .kt { color: #000080; font-weight: bold } /* Keyword.Type */
.chl .m { color: #0000FF } /* Literal.Number */
.chl .s { color: #0000FF } /* Literal.String */
.chl .na { color: #FF0000 } /* Name.Attribute */
.chl .nt { color: #000080; font-weight: bold } /* Name.Tag */
.chl .ow { font-weight: bold } /* Operator.Word */
.chl .w { color: #bbbbbb } /* Text.Whitespace */
.chl .mb { color: #0000FF } /* Literal.Number.Bin */
.chl .mf { color: #0000FF } /* Literal.Number.Float */
.chl .mh { color: #0000FF } /* Literal.Number.Hex */
.chl .mi { color: #0000FF } /* Literal.Number.Integer */
.chl .mo { color: #0000FF } /* Literal.Number.Oct */
.chl .sa { color: #0000FF } /* Literal.String.Affix */
.chl .sb { color: #0000FF } /* Literal.String.Backtick */
.chl .sc { color: #800080 } /* Literal.String.Char */
.chl .dl { color: #0000FF } /* Literal.String.Delimiter */
.chl .sd { color: #0000FF } /* Literal.String.Doc */
.chl .s2 { color: #0000FF } /* Literal.String.Double */
.chl .se { color: #0000FF } /* Literal.String.Escape */
.chl .sh { color: #0000FF } /* Literal.String.Heredoc */
.chl .si { color: #0000FF } /* Literal.String.Interpol */
.chl .sx { color: #0000FF } /* Literal.String.Other */
.chl .sr { color: #0000FF } /* Literal.String.Regex */
.chl .s1 { color: #0000FF } /* Literal.String.Single */
.chl .ss { color: #0000FF } /* Literal.String.Symbol */
.chl .il { color: #0000FF } /* Literal.Number.Integer.Long */
