:root {
  --grey: #999;
}

body {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  font-size: 17px;
}

body {
  font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova", "Nimbus Sans",
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    "Noto Color Emoji";
  color: #333;
  background: #e6e6e9;
}

main {
  background: #f8f8ff;
}

.wrappy {
  max-width: 40rem;
  margin: 0 auto;
  padding: 0 1rem;
  position: relative;
}

header {
  padding: 2rem 0;
  line-height: 1.25;
}

nav {
  display: flex;
  flex-flow: row wrap;
  font-size: 1rem;
  gap: 0.5rem;
  padding: 0.5rem 0;
}

nav .active {
  font-weight: bold;
}

.title {
  font-size: 1.5rem;
  display: block;
  margin: 0.25rem 0 0.75rem 0;
  text-decoration: none;
  color: inherit;
  font-weight: bold;
}

.subtitle {
  margin: 0 0 0.75rem 0;
}

main {
  line-height: 1.25;
  padding: 2rem 0;
}

h1 {
  font-size: 2rem;
  margin: 0 0 1.5rem 0;
}

h2 {
  margin: 1.5rem 0 0.5rem 0;
}

h2:first-child {
  margin-top: 0;
}

h2 {
  font-size: 1.4rem;
}

h2 small {
  font-weight: normal;
}

h3 {
  font-size: 1.2rem;
  margin: 1.25rem 0 0.5rem 0;
}

p,
ul,
ol {
  font-size: 1rem;
  margin: 0 0 0.75rem 0;
  line-height: 1.7;
}

ul,
ol {
  margin-left: 1.25rem;
}

li {
  display: list-item;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

blockquote {
  padding-left: 1.5rem;
  margin: 1.5rem 0;
  position: relative;
  border-left: 1px solid var(--grey);
}

img {
  display: block;
  margin: 2rem auto;
}

code {
  font-size: 0.8rem;
}

pre {
  margin: 2rem 0;
  font-size: 0.8rem;
}

small {
  font-size: 0.8rem;
}

hr {
  border: none;
  border-top: 1px solid var(--grey);
  background: none;
}

.footnote,
.footnotes {
  margin-top: 2rem;
}

.footnote ol,
.footnote p,
.footnotes ol,
.footnotes p {
  font-size: 0.8rem;
  margin-bottom: 0;
}

.active {
  font-weight: bold;
}

.admonition {
  border: 1px solid var(--grey);
  padding: 0.25rem 0.5rem 0 0.5rem;
  margin: 0.5rem 0 0.75rem 0;
}

.admonition *:last-child {
  margin-bottom: 0.5rem;
}

.admonition-title {
  font-weight: bold;
  margin-bottom: 0;
}

footer {
  padding: 2rem 0;
  line-height: 1.6;
}

header a,
footer a,
main .text a:not(.toclink) {
  text-decoration: underline;
  color: #0c7575;
}

.utterances {
  margin-top: 2rem;
}

/* CodeHilite overrides */
.chl,
.chl .err {
  all: inherit;
  overflow-x: scroll;
  background: #343947;
  display: grid;
  padding: 0 1rem;
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #333;
  }

  main {
    background: #555;
  }

  header a,
  footer a,
  main .text a:not(.toclink) {
    color: #14b7b7;
  }
}

sup,
sub {
  font-size: 0.7em;
  line-height: 1;
  padding-left: 2px;
}

.article {
  display: block;
}
