{% extends "base.html" %}

{% block title %}{% if current %}{{ current.title }} - {% endif %}{{ super() }}{% endblock %}

{% block content %}

<main><div class="wrappy">

{% for post in posts %}
  <a href="{{ post.url() }}" class="article">
    <h2>
      <small>{{ post.date.isoformat() }} {% if post.draft %}(draft){% endif %}</small><br>
      {{ post.title }}
    </h2>
    <p>{{ post.excerpt|truncate(240) }}</p>
  </a>
{% endfor %}

<hr style="margin-bottom:2rem">
<script src="https://djangowebring.com/static/webring.js"></script>
<webring-css site="https://406.ch"></webring-css>

</div></main>

<footer>
  <div class="wrappy">

<p>
  <small>
    <strong>Categories:</strong>
    {% for category in categories %}
    <a {% if current == category %}class="active"{% endif %} href="{{ category.url() }}">{{ category.title }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
  </small>
</p>

<p>
  <small>
    <strong>RSS feeds:</strong>
    <a href="/writing/atom.xml">All posts</a>,
    {% for category in categories %}
      <a href="{{ category.url() }}atom.xml">{{ category.title }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </small>
</p>

<p>
  <small>&copy; 2005 - {{ year }} Matthias Kestenholz</small>
</p>

  </div>
</footer>

{% endblock %}
