<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Matthias Kestenholz{% endblock %}</title>
  <link rel="stylesheet" href="{{ styles }}">
  <link rel="alternate" type="application/atom+xml" title="Blog feed" href="/writing/atom.xml">
</head>
<body>
  <header>
    <div class="wrappy">
      <h1 class="title">Hi, I'm Matthias</h1>
      <p class="subtitle">
        I am a founding partner of
        <a href="https://feinheit.ch">Feinheit AG</a> and
        <a href="https://diebruchpiloten.com">Die Bruchpiloten AG</a>.
        Find me on
        <a href="https://github.com/matthiask/" rel="">GitHub</a>,
        <a href="https://hachyderm.io/@matthiask" rel="me">Mastodon</a>,
        {# <a href="https://twitter.com/matthispam/" target="_blank" rel="noopener noreferrer">Twitter</a>, #}
        <a href="https://www.linkedin.com/in/matthiaskestenholz" title="if you must" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        or by <a href="mailto:mk@406.ch">email</a>.
      </p>

      <nav>
        <a {% if posts and not current %}class="active"{% endif %} href="/">Archive</a>
        {% for category in categories %}
        <a {% if current == category %}class="active"{% endif %} href="{{ category.url() }}">{{ category.title }}</a>
        {% endfor %}
      </nav>
    </div>
  </header>

  {% block content %}
  {% endblock %}
</body>
</html>
