{% extends 'admin/change_form.html' %}

{% load render_bundle from webpack_loader %}

{% block extrahead %}{{ block.super }}
<script>
  django.jQuery(function($) {
    $(document).keydown(function handleKeys(event) {
      // Ctrl-s or Cmd-s
      if (event.which == 83 && (event.metaKey || event.ctrlKey)) {
        $('form input[name=_continue]').click();
        return false;
      }
    });
  });
</script>

{% render_bundle 'admin' %}
<style>
label[for=id_content] {
  display: none;
}
.CodeMirror {
  height: auto;
  max-width: 50rem;
}
</style>
{% endblock %}
