{% extends "base.html" %}

{% block title %}{% if current %}{{ current.title }} - {% endif %}{{ super() }}{% endblock %}

{% block content %}

<header>
  <div class="wrappy">
    {% if current %}
      <a class="back" href="/">Back to the overview</a>
      <h1 class="title">{{ current.title }}</h1>
      {# % if view.category.html %}{{ view.category.html|safe }}{% endif % #}
    {% else %}
      <h1 class="title">Hi, I'm Matthias</h1>
      <p class="subtitle">
        I am a founding partner of
        <a href="https://feinheit.ch">Feinheit AG</a> and
        <a href="https://diebruchpiloten.com">Die Bruchpiloten AG</a>.
        Find me on
        <a href="https://github.com/matthiask/" rel="">GitHub</a>,
        <a href="https://hachyderm.io/@matthiask" rel="me">Mastodon</a>,
        {# <a href="https://twitter.com/matthispam/" target="_blank" rel="noopener noreferrer">Twitter</a>, #}
        <a href="https://www.linkedin.com/in/matthiaskestenholz" title="if you must" target="_blank" rel="noopener noreferrer">LinkedIn</a>
        or by <a href="mailto:mk@406.ch">email</a>.
      </p>
    {% endif %}
  </div>
</header>

<main><div class="wrappy">

{% for post in object_list %}
  {% if post.is_microblog %}
    <div class="microblog">
      <small>{{ post.date.isoformat() }}</small>
      <div class="text">
        {{ post.html|safe }}
      </div>
    </div>
  {% else %}
    <h2>
      <a href="{{ post.url }}">
        <small>{{ post.date.isoformat() }}</small><br>
        {{ post.title }}
      </a>
    </h2>
  {% endif %}
{% endfor %}

</div></main>

<footer>
  <div class="wrappy">

<p>
  <small>
    <strong>Categories:</strong>
    {% for category in categories %}
    <a {% if current == category %}class="active"{% endif %} href="{{ category.url }}">{{ category.title }}</a>{% if not loop.last %},{% endif %}
    {% endfor %}
  </small>
</p>

<p>
  <small>
    <strong>RSS feeds:</strong>
    <a href="/writing/feed/">All posts</a>,
    {% for category in categories %}
      <a href="{{ category.feed_url }}">{{ category.title }}</a>{% if not loop.last %}, {% endif %}
    {% endfor %}
  </small>
</p>

<p>
  <small>&copy; 2005 - {{ year }} Matthias Kestenholz</small>
</p>

  </div>
</footer>

{% endblock %}
