@import "settings";
// @import "foundation";

$small-font-size: 80%;

$f: 1.2;
$h6-font-size: 1rem;
$h5-font-size: $h6-font-size * $f;
$h4-font-size: $h5-font-size * $f;
$h3-font-size: $h4-font-size * $f;
$h2-font-size: $h3-font-size * $f;
$h1-font-size: $h2-font-size * $f;

$topbar-breakpoint: 1px;


// Or selectively include components
@import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
   "foundation/components/forms",
   "foundation/components/grid",
   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
   "foundation/components/top-bar",
   "foundation/components/type";
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


h1 a {
    color: $body-font-color;
}

.text {
    ul, ol {
        margin-left: 1.5em;
    }
}

.search {
    margin-top: 1.25em;
}

.gallery.open {
    position: relative;
    z-index: 100;

    ul, li {
        background: #fff;
        position: fixed;
        left: 0%;
        top: 0%;
        width: 100%;
        height: 100%;
    }

    .light {
        background: #111;
    }

    li {
        transition: all 0.2s ease;
        opacity: 0;
        z-index: 100;
    }

    .current {
        opacity: 1;
        z-index: 101;
    }

    a {
        display: block;
        position: fixed;
        left: 2%;
        top: 2%;
        width: 96%;
        height: 92%;

        background-size: contain;
        background-position: center center;
        background-repeat: no-repeat;
    }

    .caption {
        position: fixed;
        bottom: 1.7%;
        width: 96%;
        text-align: center;
        color: #333;
    }

    .light .caption {
        color: #ddd;
    }

    img { display: none; }
}
