<!DOCTYPE html>
{% load compress i18n staticfiles %}
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {% block title %}
      {% if feincms_page %}{{ feincms_page.page_title }} | {% endif %}
      406
    {% endblock %}
  </title>
  {% compress css %}
  {% block css %}
    <link rel="stylesheet" href="{% static 'mkweb/css/app.css' %}">
  {% endblock %}
  {% endcompress %}
  {#<!-- <link rel="shortcut icon" href="{% static 'mkweb/images/favicon.ico' %}"> -->#}
  <script src="{% static 'mkweb/bower_components/modernizr/modernizr.js' %}"></script>
  <script>onReady = [];</script>

  <link rel="alternate" type="application/atom+xml"
    title="406 NOT ACCEPTABLE" href="{{ blog.feed_url }}">
</head>
<body>
  {% block body %}
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>
          <a href="/">406 NOT ACCEPTABLE</a>
        </h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"><span></span></a></li>
    </ul>

    <section class="top-bar-section">
      <ul class="left">
        <li><a href="{% url 'blog_post_archive' %}">Writing</a></li>
        <li><a href="{% url 'chet_album_archive' %}">Photos</a></li>
      </ul>
    </section>
  </nav>

  {% block main %}
  <div class="row">
    <div class="large-8 columns content">
      {% block content %}{% endblock %}
    </div>

    <div class="large-3 large-offset-1 columns">
      {% block sidebar %}{% endblock %}
    </div>
  </div>
  {% endblock %}

  <div class="row">
    <div class="large-12 columns">
      <hr>
      <p class="author">

        <ul class="inline-list">
          <li>© 2005-{% now "Y" %} Matthias Kestenholz.</li>
          <li>
            <a rel="license" target="_blank"
                href="http://creativecommons.org/licenses/by/3.0/ch/deed.en_US">
              Some rights reserved.</a>
          </li>
          <li><a href="https://twitter.com/unsocialrider/" target="_blank">
            Twitter</a></li>
          <li><a href="https://www.facebook.com/matthias.kestenholz" target="_blank">
            Facebook</a></li>
          <li><a href="https://github.com/matthiask/" target="_blank">
            Github</a></li>
          <li><a href="https://people.djangoproject.com/matthiask/" target="_blank">
            Django People</a></li>
        </ul>
      </p>
    </div>
  </div>
  {% endblock %}

  {% compress js %}
  {% block js %}
  <script src="{% static 'mkweb/bower_components/jquery/dist/jquery.min.js' %}"></script>
  <script src="{% static 'mkweb/bower_components/foundation/js/foundation.min.js' %}"></script>
  <script src="{% static 'mkweb/js/app.js' %}"></script>
  {% endblock %}
  {% endcompress %}
  {% block inline-js %}
    <script>
      for (var i=0, l=onReady.length; i<l; ++i) {
        onReady[i].call(null, $);
      }
    </script>
  {% endblock %}

  {% if request.user.is_staff and feincms_page %}
    <div class="edit-tools">
      {% block edit-tools %}
      <a href="/admin/page/page/{{ feincms_page.id }}/"
        class="button tiny">Edit page</a>
      {% endblock %}
    </div>
  {% endif %}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40495549-1', '406.ch');
    ga('send', 'pageview');

  </script>

</body>
</html>
