<!DOCTYPE html>
{% load i18n staticfiles %}
{% load render_bundle from webpack_loader %}
{% load render_bundle_inline %}
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% block title %}Matthias Kestenholz{% endblock %}</title>
  <meta name="description" content="">

  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600" rel="stylesheet">
  {% if debug %}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=blissfuljs"></script>
    {% render_bundle 'main' %}
  {% else %}
    {% render_bundle_inline 'main' 'css' %}
  {% endif %}

  <link rel="alternate" type="application/atom+xml" title="Blog feed" href="{{ blog.feed_url }}">

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-40495549-1', '406.ch');
    ga('send', 'pageview');

  </script>

</head>
<body>
<div class="wrappy">

  {% block content %}
  {% endblock %}

  <small class="copy">&copy; 2005 - {% now 'Y' %} Matthias Kestenholz</small>

  {% comment %}
    {% if not debug %}
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=blissfuljs"></script>
    {% render_bundle 'main' 'js' %}
    {% endif %}
  {% endcomment %}

</div>
</body>
</html>
