<!DOCTYPE html>
{% load compress i18n staticfiles %}
<!--[if IE 8]>
<html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {% block title %}
      {% if feincms_page %}{{ feincms_page.page_title }} | {% endif %}
      406
    {% endblock %}
  </title>
  {% compress css %}
  {% block css %}
    <link rel="stylesheet" href="{% static 'mkweb/stylesheets/app.css' %}">
    <link rel="stylesheet" href="{% static 'mkweb/lightbox/css/lightbox.css' %}">
  {% endblock %}
  {% endcompress %}
  {# <link rel="shortcut icon" href="{% static 'mkweb/images/favicon.ico' %}"> #}
  <script src="{% static 'mkweb/javascripts/vendor/custom.modernizr.js' %}"></script>
  <script>onReady = [];</script>

  <link rel="alternate" type="application/atom+xml"
    title="406 NOT ACCEPTABLE" href="{{ blog.feed_url }}">
</head>
<body>
  {% block body %}
  <div class="row">
    <div class="large-12 columns">
      <h2>406 NOT ACCEPTABLE</h2>

      <nav class="top-bar">
        <section class="top-bar-section">
          <ul>
            <li><a href="{% url 'blog_post_archive' %}">Writing</a></li>
            <li><a href="https://twitter.com/unsocialrider/" target="_blank">
              Twitter</a></li>
            <li><a href="https://www.facebook.com/matthias.kestenholz" target="_blank">
              Facebook</a></li>
            <li><a href="https://github.com/matthiask/" target="_blank">
              Github</a></li>
            <li><a href="https://people.djangoproject.com/matthiask/" target="_blank">
              Django People</a></li>
          </ul>
        </section>
      </nav>
    </div>
  </div>

  <div class="row">
    <div class="large-8 columns">
      {% block content %}{% endblock %}
    </div>

    <div class="large-4 columns">
      {% block sidebar %}{% endblock %}
    </div>
  </div>

  <div class="row">
    <div class="large-12 columns">
      <hr>
      <p class="author">
        © 2005-{% now "Y" %} Matthias Kestenholz.
        <a rel="license" target="_blank"
            href="http://creativecommons.org/licenses/by/3.0/ch/deed.en_US">
          Some rights reserved.</a>
      </p>
    </div>
  </div>
  {% endblock %}

  {% compress js %}
  {% block js %}
    <!--
    <script src="{% static 'naturnetz/javascripts/vendor/jquery.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.abide.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.cookie.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.forms.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.section.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.orbit.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.dropdown.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.magellan.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.alerts.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.reveal.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.clearing.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.interchange.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.topbar.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.tooltips.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.joyride.js' %}"></script>
    <script src="{% static 'naturnetz/javascripts/foundation/foundation.placeholder.js' %}"></script>
    <script src="{% static 'naturnetz/lightbox/js/lightbox-2.6.min.js' %}"></script>
    -->
  {% endblock %}
  {% endcompress %}
  {% block inline-js %}
    <script>
      $(document).foundation();
      for (var i=0, l=onReady.length; i<l; ++i) {
        onReady[i].call(null, $);
      }
    </script>
  {% endblock %}

  {% if request.user.is_staff and feincms_page %}
    <div class="edit-tools">
      {% block edit-tools %}
      <a href="/admin/page/page/{{ feincms_page.id }}/"
        class="button tiny">Edit page</a>
      {% endblock %}
    </div>
  {% endif %}


</body>
</html>
