{% extends "base.html" %}

{% block content %}
<main class="writing">
<article class="text">

  <h2>Projects</h2>
  <p>
    I'm passionate about writing software with a library, not framework
    approach. I'm very interested in understanding all aspects of code running
    in production systems, from the kernel to the user interface, and while
    I'm certainly not an expert in all areas I have some experience in the
    area of data structure and backend code design.
  </p>

  <p>
    I very much like working with Python, Django, PostgreSQL, redis, webpack,
    React, and while the complexity of some of those systems seem to contradict
    the paragraph above I think the communities, conventions and generally also
    the code quality are more than sufficient reasons to still use those
    packages for my day-to-day work.
  </p>

  <p>
    While my <a href="https://github.com/matthiask/" target="_blank">Github
    profile</a> offers quite a comprehensive list of what I'm doing in open
    source land I still want to highlight a few projects.
  </p>

  <h3>General tools for Django</h3>

  <p>TODO</p>

  <h3>Content Management Systems</h3>

  <p>TODO</p>

</article>
</main>
{% endblock %}
