{% extends "base.html" %}

{% block content %}
<main class="writing">
<article class="text">

  <h1>Projects</h1>
  <p>
    I'm passionate about writing low maintenance software.
  </p>

  <p>
    To achieve this software must be simple, opinionated, and often written as
    a library, not a framework. While it seems easier to write a framework with
    extension points it is, in the long run, more useful to build powerful
    tools.
  </p>

  <p>
    Applying these principles to Django apps means that often it isn't very
    useful to supply views and URLconf modules, but instead supply forms and
    helpers that make writing your own views more straightforward.
  </p>

  <p>
    Glue code is often different between projects anyway, and in my opinion
    views are just that: Glue code.
  </p>

  <p>
    I'm interested in understanding all aspects of code running in production
    systems, from the kernel to the user interface, and while I'm certainly not
    an expert in all areas I have some experience in the area of data structure
    and backend code design.
  </p>

  <p>
    I like working with Python 3, Django, PostgreSQL, redis, webpack, React,
    and while the complexity of some of those systems seem to contradict the
    previous paragraph I think the communities, conventions and generally also
    the code quality are more than sufficient reasons to still use those
    packages for my day-to-day work.
  </p>

  <h2>General tools for Django</h2>

  <p>TODO</p>

  <h2>Content Management Systems</h2>

  <p>TODO</p>

</article>
</main>
{% endblock %}
