{% extends "base.html" %}

{% load i18n %}

{% block sidebar %}
<form method="get" action="{% url 'blog_post_archive' %}" class="search">
  <input type="text" name="q" placeholder="{% trans 'Search' %}"
    value="{{ request.GET.q }}">
</form>

<h3>{% trans "Categories" %}</h3>
<ul class="side-nav">
  {% for category in blog.categories %}
    <li><a href="{{ category.get_absolute_url }}">
      {{ category.title }}
    </a></li>
  {% endfor %}
</ul>

<h3>{% trans "Archive" %}</h3>
<ul class="side-nav">
  {% for year in blog.years_with_posts %}
    <li>
      <a href="{% url 'blog_post_archive_year' year=year %}">{{ year }}</a>
    </li>
  {% endfor %}
</ul>
{% endblock %}
