{% extends "base.html" %}

{% load i18n %}

{% block sidebar %}
<form method="get" action="{% url 'blog_post_archive' %}" class="search">
  <input type="text" name="q" placeholder="{% trans 'Search' %}"
    value="{{ request.GET.q }}">
</form>

<h3>{% trans "Categories" %}</h3>
<ul class="side-nav">
  {% for title, count, url in blog.posts_by_category %}
    <li><a href="{{ url }}">
      <small class="right">{{ count }}</small>
      {{ title }}
    </a></li>
  {% endfor %}
</ul>

<h3>{% trans "Archive" %}</h3>
<ul class="side-nav">
  {% for month, count, url in blog.posts_by_month %}
    {% ifchanged month.year %}
      <li class="active">
        <a href="{% url 'blog_post_archive_year' year=month.year %}">{{ month.year }}</a>
      </li>
    {% endifchanged %}
    <li><a href="{{ url }}">
      <small class="right">{{ count }}</small>
      {{ month|date:"F" }}
    </a></li>
  {% endfor %}
</ul>
{% endblock %}
