{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block content %}
<main class="writing">

  <h1>{{ post.title }}</h1>
  <div class="text">
    {{ post.html|safe }}
  </div>

  <p>
    <small>
      {% if post.published_on %}
        {% with published_on=post.published_on|date:"d.m.Y" %}
          {% blocktrans %}Published on {{ published_on }}{% endblocktrans %}
        {% endwith %}
      {% else %}
        {% trans "Not published yet" %}
      {% endif %}

      {% for category in post.categories.all %}
        {% if forloop.first %}|{% endif %}
        <a href="{{ category.get_absolute_url }}">
          {{ category }}</a>{% if not forloop.last %},{% endif %}
      {% endfor %}
    </small>
  </p>

</main>
{% endblock %}
