{% extends "base.html" %}

{% load i18n %}

{% block content %}
<main class="writing">

<h1>Hi, I'm Matthias</h1>
<p class="intro">
  I am a founding partner of
  <a href="https://feinheit.ch" target="_blank">Feinheit AG</a> and
  <a href="https://diebruchpiloten.com" target="_blank">Die Bruchpiloten AG</a>.
  Find me on
  <a href="https://github.com/matthiask/" target="_blank">Github</a>,
  <a href="https://twitter.com/suppensud/" target="_blank">Twitter</a>,
  <a href="https://www.linkedin.com/in/matthiaskestenholz" target="_blank">LinkedIn</a>
  or by <a href="mailto:mk@406.ch">email</a>.
</p>

{% for post in object_list %}
  {% if post.is_microblog %}
    <div class="microblog">
      <small>{{ post.published_on|date:"Y-m-d" }}</small>
      <div class="text">
        {{ post.html|safe }}
      </div>
    </div>
  {% else %}
    <h2>
      <a href="{{ post.get_absolute_url }}"{% if post.url_override %} target="_blank" rel="noopener"{% endif %}>
        <small>{{ post.published_on|date:"Y-m-d" }}</small><br>
        {{ post.title }}
      </a>
    </h2>
  {% endif %}
{% empty %}
  <h2>
    {% trans 'Nothing here. Sorry!' %}
  </h2>
{% endfor %}

{% if view.archive is False %}
<p>
  <small>
    <a href="/writing/archive/">Find older posts in the <strong>archive</strong>.</a>
  </small>
</p>
{% endif %}

{% if page_obj.has_other_pages %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="arrow unavailable"><a>&laquo;</a></li>
    {% endif %}
    {% for p in paginator.page_range %}
      {% if p == page_obj.number %}<li class="current"><a>{{ p }}</a></li>
      {% else %}<li><a href="?page={{ p }}">{{ p }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="arrow"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="arrow unavailable"><a>&raquo;</a></li>
    {% endif %}
  </ul>
{% endif %}

<p>
  <small>
    <strong>Categories:</strong>
  {% for category in blog.categories %}
    <a
      {% if category.get_absolute_url in request.path %}class="active"{% endif %}
      href="{{ category.get_absolute_url }}"
    >{{ category.title }}</a>{% if not forloop.last %},{% endif %}
  {% endfor %}

    <br>
    <strong>RSS feeds:</strong>
    <a href="{% url 'blog_post_feed' %}">All posts</a>,
    {% for category in blog.categories %}
      <a href="{% url 'blog_category_feed' slug=category.slug %}">
        {{ category }}</a>{% if not forloop.last %}, {% endif %}
    {% endfor %}
  </small>
</p>

</main>
{% endblock %}
