{% extends "base.html" %}

{% load i18n %}

{% block title %}{{ post.title }} - {{ block.super }}{% endblock %}

{% block content %}
<main class="writing">

  <div class="text">
    {{ post.html|safe }}

    <p>
      <small>
        {% if post.published_on %}
          {% with published_on=post.published_on|date:"Y-m-d" %}
            {% blocktrans %}Published on {{ published_on }}{% endblocktrans %}
          {% endwith %}
        {% else %}
          {% trans "Not published yet" %}
        {% endif %}

        {% for category in post.categories.all %}
          {% if forloop.first %}in{% endif %}
          <a href="{{ category.get_absolute_url }}">
            {{ category }}</a>{% if not forloop.last %},{% endif %}
        {% endfor %}
        <br>
        Subscribe to the
        <a href="http://tinyletter.com/matthiask" target="_blank">Newsletter</a>
        or the <a href="/writing/feed/">RSS feed</a> if you want to be kept up
        to date.
      </small>
    </p>

  </div>

</main>
{% endblock %}
